.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header {
  font-size: 2rem;
}

.nav-right {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}

.nav-links {
  display: flex;
  padding-inline: 2rem;
}

.nav-links > li {
  padding-inline: 1rem;
  list-style: none;
}

.nav-cart-icon {
  width: 2rem;
  height: 2rem;
}
