@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap");

html,
body,
#react-root {
  height: 100svh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  font-family: "Kanit", sans-serif;
}
