.footer {
  padding: 2rem;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 6rem;
  padding: 0;
  margin: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact-items {
  display: flex;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contact-logo {
  color: white;
}

.contact-item-text {
  color: white;
}

a {
  list-style: none;
  text-decoration: none;
}
